.select {
  display: none;
  width: var(--select-width);
  margin-right: var(--select-margin);
}

.select,
.input {
  display: none;
}

@media (min-width: 768px) {

  .select,
  .input {
    display: block;
  }
}