.options {
  display: none;
  align-items: center;
  gap: 30px;
}

.line {
  width: 2px;
  background-color: white;
  height: calc(var(--header-height) - 10px);
}

@media (min-width: 768px) {
  .options {
    display: flex;
  }
}
