.dropMenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 4;
  background-color: var(--green);
  padding: 10px var(--wrapper-padding);
  width: 100%;
}

.button,
.user {
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-family: 'Inter';
  border: none;
  margin: 20px 0;
  display: block;
}

.user {
  display: flex;
  align-items: center;
}

.userIcon {
  width: 25px;
}

.name {
  color: #d3d3d3;
  font-weight: bold;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .dropMenu {
    display: none;
  }
}