.loading {
  width: 100px;
  margin: 0 auto;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 45%;
  margin: 0 7px 30px 7px;
  max-width: 220px;

  @media (min-width: 768px) {
    width: 30%;
    max-width: 270px;
    margin: 0 7px 30px 7px;
  }
}

.alert {
  font-size: 20px;
  font-weight: 400;
  max-width: 750px;
  line-height: 1.5;
}

.alert a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}