.heart {
  padding: 7px;
  width: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .heart {
    width: 45px;
  }
}
