.header {
  background-color: var(--green);
  width: 100%;
  color: white;
  font-family: "Inter";
  position: relative;
}

.header > nav {
  max-width: var(--max-width);
  height: var(--header-height);
  padding: 0 var(--sides-padding);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  display: flex;
  align-items: center;
  color: white;
}

.name > img {
  width: 30px;
  margin-right: 10px;
}
