.wrapper {
  max-width: var(--max-width);
  padding: 10px 5px;
  margin: 0 auto;
  font-family: "Inter";

  @media (min-width: 1000px) {
    padding: 10px var(--sides-padding);
  }
}

.wrapper > h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 25px;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 100px;
}

.loading {
  width: 100px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.card {
  width: 45%;
  margin: 0 7px 30px 7px;
  max-width: 220px;

  @media (min-width: 768px) {
    width: 30%;
    max-width: 270px;
    margin: 0 7px 30px 7px;
  }
}
