.search {
  --select-width: 250px;
  --select-margin: 50px;
}

.wrapper {
  display: block;
  max-width: var(--max-width);
  padding: 10px 5px;
  margin: 0 auto;
  font-family: "Inter";

  @media (min-width: 1000px) {
    display: grid;
    --filters-width: calc(var(--select-width) + var(--select-margin));
    grid-template-columns: var(--filters-width) calc(
        100% - var(--filters-width)
      );
    padding: 10px var(--sides-padding);
  }
}

.filters {
  display: none;
  padding-top: 40px;
  font-weight: bold;
  margin-right: var(--select-margin);

  @media (min-width: 1000px) {
    display: block;
  }
}

.body {
  padding-top: 20px;
}
