.search {
  --select-width: 250px;
  --select-margin: 50px;
}

.wrapper {
  display: block;
  max-width: var(--max-width);
  padding: 10px 5px;
  margin: 0 auto;
  font-family: 'Inter';

  @media (min-width: 1000px) {
    display: flex;
    padding: 10px var(--wrapper-padding);
  }
}

.filters {
  display: none;
  padding-top: 40px;
  font-weight: bold;
  margin-right: var(--select-margin);

  @media (min-width: 1000px) {
    display: block;
  }
}

.body {
  padding-top: 20px;
}