.dialog {
  width: 100%;
  padding: 50px 20px;

  @media (min-width: 768px) {
    padding: 50px 80px;
  }

  font-family: "Inter";
}

.dialog > h3 {
  font-size: 22px;
  margin-bottom: 25px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 25px;
  cursor: pointer;
}
