.user {
  position: relative;
}

button.name {
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 5px 10px;
  &:hover {
    transform: none;
  }
}

.arrow {
  width: 20px;
  margin-left: 10px;
}

.name > span {
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 3px;
}

.logout {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  display: flex;
  background-color: var(--green);
  height: 30px;
  text-align: center;
  width: 100%;
  z-index: 5;
  font-weight: bold;

  &:hover {
    background-color: rgb(61, 99, 61);
    transform: none;
  }
}

.name,
.logout {
  border-radius: 8px;
}
