.wrapper {
  max-width: var(--max-width);
  padding: 10px 5px;
  margin: 0 auto;
  font-family: 'Inter';

  @media (min-width: 1000px) {
    padding: 10px var(--wrapper-padding);
  }
}

.carousel {
  margin: 0 auto;
}

.img {
  max-width: 300px;
  max-width: 300px;
}