:root {
  --green: #267c5b;
  --max-width: 1240px;
  --sides-padding: 20px;
  --header-height: 50px;
  --input-padding: 7px 15px;
  --input-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

body {
  background-color: #f1f1f1;
}
