:root {
  --green: #267C5B;
  --max-width: 1240px;
  --wrapper-padding: 20px;
  --header-height: 50px;
  --input-padding: 7px 15px;
  --input-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}

body {
  background-color: #f1f1f1;
}