.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 10px;
  color: white;
}

.filters,
.label {
  margin-left: 20px;
}

.filter {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 8px 15px 8px 0;
  background-color: var(--green);
}

.filter>img {
  width: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.clear {
  color: var(--green);
  font-weight: bold;
  text-decoration: underline;
  padding: 5px 10px;
}

.clear>span {
  cursor: pointer;
}