.button {
  cursor: pointer;
  color: white;
  display: flex;
  gap: 5px;
  align-items: center;

  &:hover {
    transform: scale(1.05);
  }
}

.icon {
  display: none;
}

@media (min-width: 768px) {
  .icon {
    display: inline-flex;
  }
}
