.heading {
  display: none;
  font-weight: 500;
  color: black;
  margin: 20px 0 40px 0;
  font-size: 25px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  text-align: center;

  @media (min-width: 1000px) {
    display: block;
  }
}
